:root{
    --darkgray-color:#454C52;
    --grayTwo-color:#D9D9D9;
    --gray-color:#717578;
}
.form-style{
    background-color: var(--grayTwo-color);
    padding: 3rem 2.5rem;
    border-radius: 10px;
}
.contact-input{
    margin-bottom: 1rem;
}
.form-style textarea{
    padding-bottom:4rem ;
    margin-bottom: 2rem;

}
.icon-link{
    text-decoration: none;
    color: var(--darkgray-color);
    font-weight: 500;
}
.icon-link:hover{
    color: var(--green-color);
}