:root{
    --gold-color:#D3A355;
    --green-color:#005B4B;
}
.footer-section{
    background-color: var( --green-color);
}
.footer-contant{
    border-left: 2px solid var( --gold-color);
}
.footer-icon{
    font-size: 2rem;
    cursor: pointer;
}
.footer-section h2{
    color: var( --gold-color);;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 2rem;
}
.svg-inline--fa {
    padding-left: 1.8rem;
    
}
 .navbar-nav .nav-link {
    font-size: 1.3rem !important;
}
.footer-contact{
    font-size: 1.3rem;
}

.line{
    background-color:var( --gold-color);
    width: 100%;
    height: 2px;
    margin: 2rem 0;
} 
.footer-p{
    font-size: 1.2rem;
}
@media (max-width:991px){
    .footer-contact {
        font-size: 1rem;
    }
    .footer-section h2{
        font-size: 1.8rem;
    }
    .footer-icon{
        font-size: 1.5rem;
    }
    .navbar-nav .nav-link {
        font-size: 1.1rem !important;
    }
    .footer-p{
        font-size: 1.1rem;
    }
}
@media (max-width:767px){
    .footer-contant{
        border: none;
    }
    .footer-section h2{
        font-size: 1.8rem;
    }
    .footer-icon{
        font-size: 1.5rem;
    }
    .navbar-nav .nav-link {
        font-size: 1.1rem !important;
    }
    .icon-div{
        margin-right: 2rem;
        text-align: center;
    }
    .footer-responsive{
        width: 50% !important; 
    }
    .footer-contact {
        font-size: 1rem;
    }
    .footer-p{
        font-size: 1rem;
    }
}
