.counter-image{
    background-image: url("../../../../shared/assests/images/counter-image.jpg");
    height: 85vh  ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.counter-items{
    border: 2px solid #D3A355;
    border-radius: 10px;
}
.count-num{
    color:#D3A355
}
.counter-p{
    font-size: 1.7rem;
}
@media (max-width:991px){
    .counter-p{
        font-size: 1.3rem;
    }
}