:root{
    --gold-color:#D3A355;
}
.counter-image{
    background-image: url("../../../../shared/assests/images/counter-image.jpg");
    height: 85vh  ;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.counter-items{
    border: 2px solid var( --gold-color);
    border-radius: 10px;
}
.count-num{
    color:var( --gold-color);
}
.counter-p{
    font-size: 1.7rem;
}
@media (max-width:991px){
    .counter-p{
        font-size: 1.3rem;
    }
}
@media (max-width:767px){
    .counter-image{
        height:95vh  ;
    }
    .counter-p{
        font-size: 1.22222rem;
    }
    .counter-items{
        padding: .5rem 0;
        margin: 1rem;
    }
}