
.about-contant{
    padding: 5rem 0;
}
.description{
    font-size: 1.3rem;
    text-align: justify;
}
.button{
    text-align: center;
}
 .btn-lg {
    padding: 0 2rem;
   border-radius: .3rem;
}
.btn-green{
    background-color:var( --green-color) !important;
    border-color :  var( --green-color);
    color: var(--white-color) !important;
    padding: .8rem  2rem !important; 
}
@media (max-width:991px) {
    .description{
        font-size: 1.2rem;
    }
}