:root{
    --black-color:#000000;
    --white-color:#FFFFFF;
    --gold-color:#D3A355;
    --green-color:#005B4B;
    --red-color:#A30602;
    --brown-color:#997023;
    --gray-color:#717578;
    --off-white:#FFEDCB;
    --green2-color:#298F60;
    --green3-color:#558D60;
}
.navbar-brand{
    width: 10%;
    height: 5.7rem;

}
.nav-link {
    color:var(--white-color);
    margin-right: 2rem;
}
.navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
    color: var(--gold-color);
}
.nav-link:hover {
    color: var(--gold-color);
}

.navbar{
    position: relative;
    z-index: 1000;
    --bs-navbar-padding-y: 0
    --bs-navbar-brand-padding-y:0;
    --bs-navbar-brand-margin-end: 0;
}
@media (max-width:767px) {
    .navbar{
        background-color: var(--green-color);
    }
}