
.search-head{
    position: relative;
}
.search-icon{
    position: absolute;
    top: 4.6rem;
    left: 19rem;
    color: var( --green-color);
}

.search-title{
    color:var( --green-color);
    font-weight: 400;
}
.card-border{
    border: 1px solid  var( --whitesmoke-color);
    padding:0 1rem 2rem 1rem;
    
}
.card-border h3{
    font-weight: bold;
}
.search-cards img{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    max-height: 340px;
}
.search-cards {
    margin-bottom: 2rem;
}
.desc-search{
    text-align: justify;
    font-size: 1rem;
}