:root{
    --black-color:#000000;
    --white-color:#FFFFFF;
    --gold-color:#D3A355;
    --green-color:#005B4B;
    --red-color:#A30602;
    --brown-color:#997023;
    --gray-color:#717578;
    --off-white:#FFEDCB;
    --green2-color:#298F60;
    --green3-color:#558D60;
}

.heading{
    color: var(--gold-color);
}
.text{
    color: var(--white-color);
    font-size: 2.9rem;
}
ul{
    list-style-type: none;
}

#about{
    background-image: url("../../shared/assests/images/About-header.jpg");
    background-position: center center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
#about .about-layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 91, 75, 0.5);
}
#about  h1{
    
    font-size: 75px;
}